QWidget {
    background-color: #1E1E2E;
    color: #D9E0EE;

    font-family: "DejaVu Sans Mono", "JetBrains Mono", "Roboto Mono", "Ubuntu Mono";
    font-weight: normal;
    font-size: 16px;
}

/* QLabel {
    border: 2px solid #F28FAD;
} */

QLabel#titulo {
    font-size: 30px;
    font-weight: bold;
}

QLabel#vacio {
    background-color: #00000000;
}

QLabel#sprite {
    background-color: #00000000;
}

QLabel#error {
    color: #F28FAD;
}

QLabel#paso-nivel {
    background-color: #ABE9B3;
    color: #1A1826;
}

QLabel#no-paso-nivel {
    background-color: #F28FAD;
    color: white;
}

QLabel#puntajes {
    font-size: 20px;
}

QPushButton {
    background-color: #C3BAC6;
    color: #161320;
    border: 2px solid #C3BAC6;
    border-radius: 10px;

    padding: 2px 7px;
}

QPushButton:hover {
    background-color: #988BA2;
    color: #1A1826;

    border: 2px solid #988BA2;
}

QPushButton:pressed {
    background-color: #6E6C7E;
    color: #302D41;

    border: 2px solid #6E6C7E;
}

QPushButton:disabled {
    background-color: #6E6C7E;
    color: #302D41;

    border: 2px solid #6E6C7E;
}

QLineEdit {
    border: 2px solid #C3BAC6;
    border-radius: 10px;

    padding: 3px 7px;
}

QRadioButton::indicator {
    width: 12px;
    height: 12px;

    border: 2px solid #D9E0EE;
    border-radius: 6px;

    background-color: initial;
    color: initial;
}

QRadioButton::indicator:hover {
    background-color: #988BA280;
}

QRadioButton::indicator:checked {
    background-color: #C9CBFF;
}

QProgressBar {
    border: solid #D9E0EE;
    height: 15px;
}

QProgressBar::chunk {
    background-color: #C9CBFF;
    border-radius: 8px;
}

QVBoxLayout {
    border: 2px solid #F28FAD;
}